<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta charset="utf-8">
	<title>Views - Laravel document offline</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="author" content="Taylor Otwell">
	<meta name="description" content="Laravel document offline">
	<meta name="keywords" content="laravel, php, framework, document, offline">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--[if lte IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<link rel="stylesheet" href="../assets/css/laravel.css">
</head>
<body class="docs language-php scotchified">

<div class="scotch-panel-wrapper" id="scotch_panel_wrapper">
	<div class="scotch-panel-canvas" id="scotch_panel_canvas">

		<span class="overlay"></span>

		<nav class="main">
			<div class="container">
				<a href="/" class="brand">
					<img src="../assets/img/laravel-logo.png" height="30">
					Laravel docs
				</a>

				<div class="responsive-sidebar-nav">
					<a href="#" class="toggle-slide menu-link btn">
						<span class="sr-only">Open</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
				</div>

				<div class="switcher">
					<div class="dropdown">
						<button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">5.0
							<span class="caret"></span>
						</button>
					</div>
				</div>
			</div>
		</nav>

		<nav id="slide-menu" class="slide-menu scotch-panel-left" role="navigation">
		
			<div class="brand">
				<a href="/">
					<img src="../assets/img/laravel-logo-white.png" height="50">
				</a>
			</div>

			<div class="slide-docs-nav">
				<h2>Documentation</h2>
				<ul>
					<li>Prologue
						<ul>
							<li><a href="../releases/">Release Notes</a></li>
							<li><a href="../upgrade/">Upgrade Guide</a></li>
							<li><a href="../contributions/">Contribution Guide</a></li>
						</ul>
					</li>
					<li>Setup
						<ul>
							<li><a href="../installation/">Installation</a></li>
							<li><a href="../configuration/">Configuration</a></li>
							<li><a href="../homestead/">Homestead</a></li>
						</ul>
					</li>
					<li>The Basics
						<ul>
							<li><a href="../routing/">Routing</a></li>
							<li><a href="../middleware/">Middleware</a></li>
							<li><a href="../controllers/">Controllers</a></li>
							<li><a href="../requests/">Requests</a></li>
							<li><a href="../responses/">Responses</a></li>
							<li><a href="../views/">Views</a></li>
						</ul>
					</li>
					<li>Architecture Foundations
						<ul>
							<li><a href="../providers/">Service Providers</a></li>
							<li><a href="../container/">Service Container</a></li>
							<li><a href="../contracts/">Contracts</a></li>
							<li><a href="../facades/">Facades</a></li>
							<li><a href="../lifecycle/">Request Lifecycle</a></li>
							<li><a href="../structure/">Application Structure</a></li>
						</ul>
					</li>
					<li>Services
						<ul>
							<li><a href="../authentication/">Authentication</a></li>
							<li><a href="../billing/">Billing</a></li>
							<li><a href="../cache/">Cache</a></li>
							<li><a href="../collections/">Collections</a></li>
							<li><a href="../bus/">Command Bus</a></li>
							<li><a href="../extending/">Core Extension</a></li>
							<li><a href="../elixir/">Elixir</a></li>
							<li><a href="../encryption/">Encryption</a></li>
							<li><a href="../envoy/">Envoy</a></li>
							<li><a href="../errors/">Errors &amp; Logging</a></li>
							<li><a href="../events/">Events</a></li>
							<li><a href="../filesystem/">Filesystem / Cloud Storage</a></li>
							<li><a href="../hashing/">Hashing</a></li>
							<li><a href="../helpers/">Helpers</a></li>
							<li><a href="../localization/">Localization</a></li>
							<li><a href="../mail/">Mail</a></li>
							<li><a href="../packages/">Package Development</a></li>
							<li><a href="../pagination/">Pagination</a></li>
							<li><a href="../queues/">Queues</a></li>
							<li><a href="../session/">Session</a></li>
							<li><a href="../templates/">Templates</a></li>
							<li><a href="../testing/">Unit Testing</a></li>
							<li><a href="../validation/">Validation</a></li>
						</ul>
					</li>
					<li>Database
						<ul>
							<li><a href="../database/">Basic Usage</a></li>
							<li><a href="../queries/">Query Builder</a></li>
							<li><a href="../eloquent/">Eloquent ORM</a></li>
							<li><a href="../schema/">Schema Builder</a></li>
							<li><a href="../migrations/">Migrations &amp; Seeding</a></li>
							<li><a href="../redis/">Redis</a></li>
						</ul>
					</li>
					<li>Artisan CLI
						<ul>
							<li><a href="../artisan/">Overview</a></li>
							<li><a href="../commands/">Development</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>

		<div class="docs-wrapper container">

			<section class="sidebar">
				<ul>
					<li>Prologue
						<ul>
							<li><a href="../releases/">Release Notes</a></li>
							<li><a href="../upgrade/">Upgrade Guide</a></li>
							<li><a href="../contributions/">Contribution Guide</a></li>
						</ul>
					</li>
					<li>Setup
						<ul>
							<li><a href="../installation/">Installation</a></li>
							<li><a href="../configuration/">Configuration</a></li>
							<li><a href="../homestead/">Homestead</a></li>
						</ul>
					</li>
					<li>The Basics
						<ul>
							<li><a href="../routing/">Routing</a></li>
							<li><a href="../middleware/">Middleware</a></li>
							<li><a href="../controllers/">Controllers</a></li>
							<li><a href="../requests/">Requests</a></li>
							<li><a href="../responses/">Responses</a></li>
							<li><a href="../views/">Views</a></li>
						</ul>
					</li>
					<li>Architecture Foundations
						<ul>
							<li><a href="../providers/">Service Providers</a></li>
							<li><a href="../container/">Service Container</a></li>
							<li><a href="../contracts/">Contracts</a></li>
							<li><a href="../facades/">Facades</a></li>
							<li><a href="../lifecycle/">Request Lifecycle</a></li>
							<li><a href="../structure/">Application Structure</a></li>
						</ul>
					</li>
					<li>Services
						<ul>
							<li><a href="../authentication/">Authentication</a></li>
							<li><a href="../billing/">Billing</a></li>
							<li><a href="../cache/">Cache</a></li>
							<li><a href="../collections/">Collections</a></li>
							<li><a href="../bus/">Command Bus</a></li>
							<li><a href="../extending/">Core Extension</a></li>
							<li><a href="../elixir/">Elixir</a></li>
							<li><a href="../encryption/">Encryption</a></li>
							<li><a href="../envoy/">Envoy</a></li>
							<li><a href="../errors/">Errors &amp; Logging</a></li>
							<li><a href="../events/">Events</a></li>
							<li><a href="../filesystem/">Filesystem / Cloud Storage</a></li>
							<li><a href="../hashing/">Hashing</a></li>
							<li><a href="../helpers/">Helpers</a></li>
							<li><a href="../localization/">Localization</a></li>
							<li><a href="../mail/">Mail</a></li>
							<li><a href="../packages/">Package Development</a></li>
							<li><a href="../pagination/">Pagination</a></li>
							<li><a href="../queues/">Queues</a></li>
							<li><a href="../session/">Session</a></li>
							<li><a href="../templates/">Templates</a></li>
							<li><a href="../testing/">Unit Testing</a></li>
							<li><a href="../validation/">Validation</a></li>
						</ul>
					</li>
					<li>Database
						<ul>
							<li><a href="../database/">Basic Usage</a></li>
							<li><a href="../queries/">Query Builder</a></li>
							<li><a href="../eloquent/">Eloquent ORM</a></li>
							<li><a href="../schema/">Schema Builder</a></li>
							<li><a href="../migrations/">Migrations &amp; Seeding</a></li>
							<li><a href="../redis/">Redis</a></li>
						</ul>
					</li>
					<li>Artisan CLI
						<ul>
							<li><a href="../artisan/">Overview</a></li>
							<li><a href="../commands/">Development</a></li>
						</ul>
					</li>
				</ul>
			</section>

			<article>
				
<h1>Views</h1>
<ul>
<li><a href="#basic-usage">Basic Usage</a></li>
<li><a href="#view-composers">View Composers</a></li>
</ul>
<p><a name="basic-usage"></a></p>
<h2><a href="#basic-usage">Basic Usage</a></h2>
<p>Views contain the HTML served by your application, and serve as a convenient method of separating your controller and domain logic from your presentation logic. Views are stored in the <code class=" language-php">resources<span class="token operator">/</span>views</code> directory.</p>
<p>A simple view looks like this:</p>
<pre class=" language-php"><code class=" language-php"><span class="token markup"><span class="token comment" spellcheck="true">&lt;!-- View stored in resources/views/greeting.php --&gt;</span></span>

<span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>html</span><span class="token punctuation">&gt;</span></span></span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>body</span><span class="token punctuation">&gt;</span></span></span>
        <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;</span>h1</span><span class="token punctuation">&gt;</span></span></span>Hello<span class="token punctuation">,</span> <span class="token php"><span class="token delimiter">&lt;?php</span> <span class="token keyword">echo</span> <span class="token variable">$name</span><span class="token punctuation">;</span> <span class="token delimiter">?&gt;</span></span><span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>h1</span><span class="token punctuation">&gt;</span></span></span>
    <span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>body</span><span class="token punctuation">&gt;</span></span></span>
<span class="token markup"><span class="token tag"><span class="token tag"><span class="token punctuation">&lt;/</span>html</span><span class="token punctuation">&gt;</span></span></span></code></pre>
<p>The view may be returned to the browser like so:</p>
<pre class=" language-php"><code class=" language-php"><span class="token scope">Route<span class="token punctuation">::</span></span><span class="token function">get<span class="token punctuation">(</span></span><span class="token string">'/'</span><span class="token punctuation">,</span> <span class="token keyword">function</span><span class="token punctuation">(</span><span class="token punctuation">)</span>
<span class="token punctuation">{</span>
    <span class="token keyword">return</span> <span class="token function">view<span class="token punctuation">(</span></span><span class="token string">'greeting'</span><span class="token punctuation">,</span> <span class="token punctuation">[</span><span class="token string">'name'</span> <span class="token operator">=</span><span class="token operator">&gt;</span> <span class="token string">'James'</span><span class="token punctuation">]</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
<p>As you can see, the first argument passed to the <code class=" language-php">view</code> helper corresponds to the name of the view file in the <code class=" language-php">resources<span class="token operator">/</span>views</code> directory. The second argument passed to helper is an array of data that should be made available to the view.</p>
<p>Of course, views may also be nested within sub-directories of the <code class=" language-php">resources<span class="token operator">/</span>views</code> directory. For example, if your view is stored at <code class=" language-php">resources<span class="token operator">/</span>views<span class="token operator">/</span>admin<span class="token operator">/</span>profile<span class="token punctuation">.</span>php</code>, it should be returned like so:</p>
<pre class=" language-php"><code class=" language-php"><span class="token keyword">return</span> <span class="token function">view<span class="token punctuation">(</span></span><span class="token string">'admin.profile'</span><span class="token punctuation">,</span> <span class="token variable">$data</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
<h4>Passing Data To Views</h4>
<pre class=" language-php"><code class=" language-php"><span class="token comment" spellcheck="true">// Using conventional approach
</span><span class="token variable">$view</span> <span class="token operator">=</span> <span class="token function">view<span class="token punctuation">(</span></span><span class="token string">'greeting'</span><span class="token punctuation">)</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">with<span class="token punctuation">(</span></span><span class="token string">'name'</span><span class="token punctuation">,</span> <span class="token string">'Victoria'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token comment" spellcheck="true">
// Using Magic Methods
</span><span class="token variable">$view</span> <span class="token operator">=</span> <span class="token function">view<span class="token punctuation">(</span></span><span class="token string">'greeting'</span><span class="token punctuation">)</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">withName<span class="token punctuation">(</span></span><span class="token string">'Victoria'</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
<p>In the example above, the variable <code class=" language-php"><span class="token variable">$name</span></code> is made accessible to the view and contains <code class=" language-php">Victoria</code>.</p>
<p>If you wish, you may pass an array of data as the second parameter to the <code class=" language-php">view</code> helper:</p>
<pre class=" language-php"><code class=" language-php"><span class="token variable">$view</span> <span class="token operator">=</span> <span class="token function">view<span class="token punctuation">(</span></span><span class="token string">'greetings'</span><span class="token punctuation">,</span> <span class="token variable">$data</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
<p>When passing information in this manner, <code class=" language-php"><span class="token variable">$data</span></code> should be an array with key/value pairs. Inside your view, you can then access each value using it's corresponding key, like <code class=" language-php"><span class="token punctuation">{</span><span class="token punctuation">{</span> <span class="token variable">$key</span> <span class="token punctuation">}</span><span class="token punctuation">}</span></code> (assuming <code class=" language-php"><span class="token variable">$data</span><span class="token punctuation">[</span><span class="token string">'$key'</span><span class="token punctuation">]</span></code> exists).</p>
<h4>Sharing Data With All Views</h4>
<p>Occasionally, you may need to share a piece of data with all views that are rendered by your application. You have several options: the <code class=" language-php">view</code> helper, the <code class=" language-php">Illuminate\<span class="token package">Contracts<span class="token punctuation">\</span>View<span class="token punctuation">\</span>Factory</span></code> <a href="../contracts">contract</a>, or a wildcard <a href="#view-composers">view composer</a>.</p>
<p>For example, using the <code class=" language-php">view</code> helper:</p>
<pre class=" language-php"><code class=" language-php"><span class="token function">view<span class="token punctuation">(</span></span><span class="token punctuation">)</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">share<span class="token punctuation">(</span></span><span class="token string">'data'</span><span class="token punctuation">,</span> <span class="token punctuation">[</span><span class="token number">1</span><span class="token punctuation">,</span> <span class="token number">2</span><span class="token punctuation">,</span> <span class="token number">3</span><span class="token punctuation">]</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
<p>You may also use the <code class=" language-php">View</code> facade:</p>
<pre class=" language-php"><code class=" language-php"><span class="token scope">View<span class="token punctuation">::</span></span><span class="token function">share<span class="token punctuation">(</span></span><span class="token string">'data'</span><span class="token punctuation">,</span> <span class="token punctuation">[</span><span class="token number">1</span><span class="token punctuation">,</span> <span class="token number">2</span><span class="token punctuation">,</span> <span class="token number">3</span><span class="token punctuation">]</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
<p>Typically, you would place calls to the <code class=" language-php">share</code> method within a service provider's <code class=" language-php">boot</code> method. You are free to add them to the <code class=" language-php">AppServiceProvider</code> or generate a separate service provider to house them.</p>
<blockquote>
<p><strong>Note:</strong> When the <code class=" language-php">view</code> helper is called without arguments, it returns an implementation of the <code class=" language-php">Illuminate\<span class="token package">Contracts<span class="token punctuation">\</span>View<span class="token punctuation">\</span>Factory</span></code> contract.</p>
</blockquote>
<h4>Determining If A View Exists</h4>
<p>If you need to determine if a view exists, you may use the <code class=" language-php">exists</code> method:</p>
<pre class=" language-php"><code class=" language-php"><span class="token keyword">if</span> <span class="token punctuation">(</span><span class="token function">view<span class="token punctuation">(</span></span><span class="token punctuation">)</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">exists<span class="token punctuation">(</span></span><span class="token string">'emails.customer'</span><span class="token punctuation">)</span><span class="token punctuation">)</span>
<span class="token punctuation">{</span>
   <span class="token comment" spellcheck="true"> //
</span><span class="token punctuation">}</span></code></pre>
<h4>Returning A View From A File Path</h4>
<p>If you wish, you may generate a view from a fully-qualified file path:</p>
<pre class=" language-php"><code class=" language-php"><span class="token keyword">return</span> <span class="token function">view<span class="token punctuation">(</span></span><span class="token punctuation">)</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">file<span class="token punctuation">(</span></span><span class="token variable">$pathToFile</span><span class="token punctuation">,</span> <span class="token variable">$data</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
<p><a name="view-composers"></a></p>
<h2><a href="#view-composers">View Composers</a></h2>
<p>View composers are callbacks or class methods that are called when a view is rendered. If you have data that you want to be bound to a view each time that view is rendered, a view composer organizes that logic into a single location.</p>
<h4>Defining A View Composer</h4>
<p>Let's organize our view composers within a <a href="../providers">service provider</a>. We'll use the <code class=" language-php">View</code> facade to access the underlying <code class=" language-php">Illuminate\<span class="token package">Contracts<span class="token punctuation">\</span>View<span class="token punctuation">\</span>Factory</span></code> contract implementation:</p>
<pre class=" language-php"><code class=" language-php"><span class="token delimiter">&lt;?php</span> <span class="token keyword">namespace</span> <span class="token package">App<span class="token punctuation">\</span>Providers</span><span class="token punctuation">;</span>

<span class="token keyword">use</span> <span class="token package">View</span><span class="token punctuation">;</span>
<span class="token keyword">use</span> <span class="token package">Illuminate<span class="token punctuation">\</span>Support<span class="token punctuation">\</span>ServiceProvider</span><span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">ComposerServiceProvider</span> <span class="token keyword">extends</span> <span class="token class-name">ServiceProvider</span> <span class="token punctuation">{</span>

    <span class="token comment" spellcheck="true">/**
     * Register bindings in the container.
     *
     * @return void
     */</span>
    <span class="token keyword">public</span> <span class="token keyword">function</span> <span class="token function">boot<span class="token punctuation">(</span></span><span class="token punctuation">)</span>
    <span class="token punctuation">{</span>
       <span class="token comment" spellcheck="true"> // Using class based composers...
</span>        <span class="token scope">View<span class="token punctuation">::</span></span><span class="token function">composer<span class="token punctuation">(</span></span><span class="token string">'profile'</span><span class="token punctuation">,</span> <span class="token string">'App\Http\ViewComposers\ProfileComposer'</span><span class="token punctuation">)</span><span class="token punctuation">;</span>

       <span class="token comment" spellcheck="true"> // Using Closure based composers...
</span>        <span class="token scope">View<span class="token punctuation">::</span></span><span class="token function">composer<span class="token punctuation">(</span></span><span class="token string">'dashboard'</span><span class="token punctuation">,</span> <span class="token keyword">function</span><span class="token punctuation">(</span><span class="token variable">$view</span><span class="token punctuation">)</span>
        <span class="token punctuation">{</span>

        <span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>

    <span class="token comment" spellcheck="true">/**
     * Register
     *
     * @return void
     */</span>
    <span class="token keyword">public</span> <span class="token keyword">function</span> <span class="token function">register<span class="token punctuation">(</span></span><span class="token punctuation">)</span>
    <span class="token punctuation">{</span>
       <span class="token comment" spellcheck="true"> //
</span>    <span class="token punctuation">}</span>

<span class="token punctuation">}</span></code></pre>
<blockquote>
<p><strong>Note:</strong> Laravel does not include a default directory for view composers. You are free to organize them however you wish. For example, you could create an <code class=" language-php">App\<span class="token package">Http<span class="token punctuation">\</span>ViewComposers</span></code> directory.</p>
</blockquote>
<p>Remember, you will need to add the service provider to the <code class=" language-php">providers</code> array in the <code class=" language-php">config<span class="token operator">/</span>app<span class="token punctuation">.</span>php</code> configuration file.</p>
<p>Now that we have registered the composer, the <code class=" language-php">ProfileComposer@compose</code> method will be executed each time the <code class=" language-php">profile</code> view is being rendered. So, let's define the composer class:</p>
<pre class=" language-php"><code class=" language-php"><span class="token delimiter">&lt;?php</span> <span class="token keyword">namespace</span> <span class="token package">App<span class="token punctuation">\</span>Http<span class="token punctuation">\</span>ViewComposers</span><span class="token punctuation">;</span>

<span class="token keyword">use</span> <span class="token package">Illuminate<span class="token punctuation">\</span>Contracts<span class="token punctuation">\</span>View<span class="token punctuation">\</span>View</span><span class="token punctuation">;</span>
<span class="token keyword">use</span> <span class="token package">Illuminate<span class="token punctuation">\</span>Users<span class="token punctuation">\</span>Repository</span> <span class="token keyword">as</span> UserRepository<span class="token punctuation">;</span>

<span class="token keyword">class</span> <span class="token class-name">ProfileComposer</span> <span class="token punctuation">{</span>

    <span class="token comment" spellcheck="true">/**
     * The user repository implementation.
     *
     * @var UserRepository
     */</span>
    <span class="token keyword">protected</span> <span class="token variable">$users</span><span class="token punctuation">;</span>

    <span class="token comment" spellcheck="true">/**
     * Create a new profile composer.
     *
     * @param  UserRepository  $users
     * @return void
     */</span>
    <span class="token keyword">public</span> <span class="token keyword">function</span> <span class="token function">__construct<span class="token punctuation">(</span></span>UserRepository <span class="token variable">$users</span><span class="token punctuation">)</span>
    <span class="token punctuation">{</span>
       <span class="token comment" spellcheck="true"> // Dependencies automatically resolved by service container...
</span>        <span class="token this">$this</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">users</span> <span class="token operator">=</span> <span class="token variable">$users</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>

    <span class="token comment" spellcheck="true">/**
     * Bind data to the view.
     *
     * @param  View  $view
     * @return void
     */</span>
    <span class="token keyword">public</span> <span class="token keyword">function</span> <span class="token function">compose<span class="token punctuation">(</span></span>View <span class="token variable">$view</span><span class="token punctuation">)</span>
    <span class="token punctuation">{</span>
        <span class="token variable">$view</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">with<span class="token punctuation">(</span></span><span class="token string">'count'</span><span class="token punctuation">,</span> <span class="token this">$this</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token property">users</span><span class="token operator">-</span><span class="token operator">&gt;</span><span class="token function">count<span class="token punctuation">(</span></span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
    <span class="token punctuation">}</span>

<span class="token punctuation">}</span></code></pre>
<p>Just before the view is rendered, the composer's <code class=" language-php">compose</code> method is called with the <code class=" language-php">Illuminate\<span class="token package">Contracts<span class="token punctuation">\</span>View<span class="token punctuation">\</span>View</span></code> instance. You may use the <code class=" language-php">with</code> method to bind data to the view.</p>
<blockquote>
<p><strong>Note:</strong> All view composers are resolved via the <a href="../container">service container</a>, so you may type-hint any dependencies you need within a composer's constructor.</p>
</blockquote>
<h4>Wildcard View Composers</h4>
<p>The <code class=" language-php">composer</code> method accepts the <code class=" language-php"><span class="token operator">*</span></code> character as a wildcard, so you may attach a composer to all views like so:</p>
<pre class=" language-php"><code class=" language-php"><span class="token scope">View<span class="token punctuation">::</span></span><span class="token function">composer<span class="token punctuation">(</span></span><span class="token string">'*'</span><span class="token punctuation">,</span> <span class="token keyword">function</span><span class="token punctuation">(</span><span class="token variable">$view</span><span class="token punctuation">)</span>
<span class="token punctuation">{</span>
   <span class="token comment" spellcheck="true"> //
</span><span class="token punctuation">}</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
<h4>Attaching A Composer To Multiple Views</h4>
<p>You may also attach a view composer to multiple views at once:</p>
<pre class=" language-php"><code class=" language-php"><span class="token scope">View<span class="token punctuation">::</span></span><span class="token function">composer<span class="token punctuation">(</span></span><span class="token punctuation">[</span><span class="token string">'profile'</span><span class="token punctuation">,</span> <span class="token string">'dashboard'</span><span class="token punctuation">]</span><span class="token punctuation">,</span> <span class="token string">'App\Http\ViewComposers\MyViewComposer'</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
<h4>Defining Multiple Composers</h4>
<p>You may use the <code class=" language-php">composers</code> method to register a group of composers at the same time:</p>
<pre class=" language-php"><code class=" language-php"><span class="token scope">View<span class="token punctuation">::</span></span><span class="token function">composers<span class="token punctuation">(</span></span><span class="token punctuation">[</span>
    <span class="token string">'App\Http\ViewComposers\AdminComposer'</span> <span class="token operator">=</span><span class="token operator">&gt;</span> <span class="token punctuation">[</span><span class="token string">'admin.index'</span><span class="token punctuation">,</span> <span class="token string">'admin.profile'</span><span class="token punctuation">]</span><span class="token punctuation">,</span>
    <span class="token string">'App\Http\ViewComposers\UserComposer'</span> <span class="token operator">=</span><span class="token operator">&gt;</span> <span class="token string">'user'</span><span class="token punctuation">,</span>
    <span class="token string">'App\Http\ViewComposers\ProductComposer'</span> <span class="token operator">=</span><span class="token operator">&gt;</span> <span class="token string">'product'</span>
<span class="token punctuation">]</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>
<h3>View Creators</h3>
<p>View <strong>creators</strong> work almost exactly like view composers; however, they are fired immediately when the view is instantiated. To register a view creator, use the <code class=" language-php">creator</code> method:</p>
<pre class=" language-php"><code class=" language-php"><span class="token scope">View<span class="token punctuation">::</span></span><span class="token function">creator<span class="token punctuation">(</span></span><span class="token string">'profile'</span><span class="token punctuation">,</span> <span class="token string">'App\Http\ViewCreators\ProfileCreator'</span><span class="token punctuation">)</span><span class="token punctuation">;</span></code></pre>

			</article>
		</div>

		<footer class="main">
			
			<p>Laravel is a trademark of Taylor Otwell. Copyright © Taylor Otwell.</p>
			<p class="less-significant"><a href="http://jackmcdade.com/">Design by Jack McDade</a></p>
			<p>Edit by ngnam</p>
		</footer>

		<script src="../assets/js/laravel.js"></script>
		<script src="../assets/js/viewport-units-buggyfill.js"></script>
		<script src="../assets/js/affix.js"></script>
		<script>window.viewportUnitsBuggyfill.init();</script>

	   	<p style="transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); margin: 0px;"></p>

	</div>
</div><div class="scroll_top"></div>
</body></html>